@page
@model LoginModel

@{
    ViewData["Title"] = "";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/EcoWatch.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/theme.css" />
<style>
    .row {
        display: flex;
        align-items: center; /* Alignement vertical des éléments */
    }

    .col-md-4 {
        display: flex;
        flex-direction: column; /* Alignement des éléments en colonne */
    }

    .col-md-6 {
        display: flex;
        align-items: center; /* Alignement vertical des éléments */
    }

    section {
        width: 100%;
        padding: 20px;
    }

    form {
        flex: 1;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    html,
    body {
        height: 100%;
        background-color: white;
    }

    #page-content {
        flex: 1 0 auto;
    }

    footer {
        flex-shrink: 0; /* Empêche le pied de page de se réduire */
    }
</style>
<h1>@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Glad to see you again!</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3 center">
                    <input asp-for="Input.Email" class="form-control rounded-5 fs-8 mt-1 d-inline-flex " autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label ">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control rounded-5 fs-8 mt-1 d-inline-flex" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" class="btn btn-gradient fs-8 mt-1 d-inline-flex" type="submit">Log in</button>
                </div>
                <div>
                    <p>
                        <a style="color:cornflowerblue ;" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a style=" color: cornflowerblue;" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a style=" color: cornflowerblue;" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 ">
        <section class="d-flex justify-content-center align-items-center">
            <img src="~/img/hero/planting.png" style="height:650px ; margin-left: 187px;" />
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
